<div class="container-fluid" style="background-color:steelblue;">
    <div class="row">
       <div class="col-lg-6 p-content" style="text-align:left">
          <br>
          <h6 class="p-content">Contact</h6>
          <p>Email: nguyenngochung.ncth@gmail.com</p>
          <p>Phone: 0334.004.653</p>
          <p>Study at: Hanoi University of Science and Technology</p>
       </div>
       <div class="col-lg-6 p-content">
          <br>
          <h6 class="p-content">Contact</h6>
          <p>Email: nguyenngochung.ncth@gmail.com</p>
          <p>Phone: 0334.004.653</p>
          <p>Study at: Hanoi University of Science and Technology</p>
       </div>
    </div>
    <div>
       <hr>
       <p class="p-content" style="text-align: center;"><i class="fas fa-copyright"></i><i>2020 Hois Blog. All rights reserved.</i>
       </p>
       <br>
    </div>
 </div>