<!DOCTYPE html>
<html lang="vi">

<head>
   <%- include ("./head.ejs") %>
</head>

<body>
   <header class="container-fluid">
      <%- include ("./header.ejs")%>
   </header>
   <div class="container content-section">
      <div class="row">
         <div class="col-lg-3">
            <%- include ("./intro.ejs")%>
         </div>
            <div class="col-lg-9">
               <div class="content">
                  <p class="p-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque magni rem quam
                     similique culpa. Eos et, sint necessitatibus, ut tenetur architecto cum quos exercitationem est
                     fuga
                     cupiditate unde enim aspernatur repellat delectus mollitia quae reiciendis explicabo laudantium
                     quam,
                     alias iusto iure neque. Modi qui excepturi vitae doloribus itaque temporibus similique et aliquid
                     porro aperiam ducimus consectetur, fugit veniam veritatis odio unde provident sint. Odit pariatur
                     nulla exercitationem cupiditate excepturi? Ab obcaecati omnis quidem suscipit dolor, officiis
                     itaque,
                     debitis optio ullam eum vitae! Deleniti, possimus eligendi? Obcaecati earum minima eveniet in
                     doloremque aperiam eos alias veniam, similique assumenda quidem quae voluptas corrupti aliquam
                     vitae
                     dicta molestiae voluptatibus aliquid cumque dolor perferendis veritatis amet, adipisci deleniti?
                     Vitae
                     porro aliquam maiores itaque id, ipsa nam repellendus odio eaque quas tempora beatae eveniet
                     cumque?
                     Mollitia, voluptate unde hic doloremque labore magnam voluptas fugit voluptates ipsam. Deserunt
                     voluptatum sunt perspiciatis animi eligendi sit maiores officia porro eum? Impedit voluptate quod
                     vero
                     sunt numquam facere consequatur eaque, expedita dolores earum aliquam nulla maxime porro quam
                     laboriosam dolor temporibus consectetur amet modi inventore recusandae? Dolore odio fuga numquam,
                     fugiat repudiandae cum quo modi magni error pariatur repellat placeat. Magnam iure animi nihil sint
                     asperiores velit cupiditate repellat sunt, facilis vero dolor itaque quae, ullam numquam nostrum
                     eaque? Laboriosam voluptatum eveniet recusandae illum odio quis incidunt debitis fuga quia corrupti
                     quo nemo molestiae perferendis accusantium, accusamus cum vero quidem commodi, quas ullam iusto
                     quod.
                     Nemo, commodi soluta minima at possimus numquam laudantium laborum ab aliquid provident, ullam
                     perferendis mollitia dolorem animi consequuntur error beatae excepturi et non aperiam enim voluptas
                     cumque quibusdam. Perferendis, deleniti fuga. Facilis praesentium, voluptate error eum earum ab
                     vitae
                     qui nihil architecto, repellendus nobis ducimus obcaecati, tempore aspernatur dolore odit? Quasi
                     modi,
                     fuga deleniti doloribus vero, aut accusantium ratione consequuntur quo explicabo voluptates omnis
                     officiis laboriosam commodi voluptatum consectetur sit, quam harum. Debitis eligendi rerum
                     accusamus
                     vitae ipsum quibusdam optio quod eaque, eveniet blanditiis numquam et reprehenderit, illum
                     mollitia.
                     Culpa aliquid assumenda natus dignissimos consectetur praesentium? Architecto error sunt corrupti,
                     id
                     voluptatem iure ipsa et maxime doloribus ducimus perspiciatis at quisquam ipsum iusto facilis,
                     cumque,
                     nulla adipisci fuga eveniet. Dignissimos reiciendis tenetur mollitia fugit molestiae maiores illo
                     eius
                     dolores? Porro minima corporis cum? Provident nemo ut hic iste? Hic, dolorem. Sequi error mollitia
                     ea
                     quod ut asperiores quae quibusdam suscipit unde officia impedit quam eligendi quasi, voluptatum
                     repudiandae reiciendis. Qui, aut optio perspiciatis corporis dolorem, laboriosam, ipsa magnam
                     libero
                     eius maxime ducimus animi illum reiciendis praesentium voluptate vero atque facilis porro sapiente
                     mollitia dignissimos voluptatum. Veniam adipisci minima totam, modi tempore deleniti cumque.
                     Ratione
                     doloremque quia a, nobis quod sint. Nemo cumque quas inventore voluptatum provident iure aliquam
                     quae
                     necessitatibus ex consequuntur quos fugit ad, quisquam sequi eveniet laudantium suscipit totam
                     tempore
                     minima nam vel facere? Corporis debitis eius nulla, accusamus eos harum doloremque iusto nisi ad ab
                     sint maxime aliquid in quisquam repudiandae voluptate unde omnis culpa sapiente nihil eum
                     perferendis
                     vitae dicta. Qui consequuntur dolorum recusandae fuga ipsum necessitatibus itaque modi distinctio?
                     Nemo harum optio inventore officia illo nam consectetur rerum veniam pariatur quisquam recusandae
                     quae
                     voluptas hic impedit, cum reiciendis necessitatibus error facere tenetur reprehenderit quidem. Quod
                     sint reprehenderit repellendus provident, eius quos. Esse dignissimos iste voluptas hic assumenda
                     fuga
                     id eum aliquid! Iure autem qui reiciendis amet officiis cum possimus iste alias accusantium, atque
                     corrupti quidem sunt quam a veniam voluptates asperiores? Architecto vitae facilis earum
                     reprehenderit
                     ad soluta quidem fugiat consectetur ipsam veniam. Consectetur et suscipit corrupti eaque, quae
                     repudiandae nisi cum. Dolor illo voluptates architecto temporibus rerum ipsum cum dolore sit,
                     deserunt, laborum vitae, provident nesciunt numquam magnam!</p>
               </div>
            </div>
         </div>
      </div>
      <br>
      <hr>
      <footer style="position:relative; bottom: 0;">
         <%- include ("./footer.ejs") %>
      </footer>
      <style>
         #home {
            background-color: teal;
         }

         .content-section {
            padding-top: 100px;
            /* background: red */
         }

         @media screen and (max-width: 1000px) {
            .p-content {
               font-size: 250%;
            }
         }
      </style>
</body>

</html>