<!DOCTYPE html>
<html lang="vi">

<head>
   <%- include ("./head.ejs")%>
</head>

<body>
   <header class="container-fluid">
      <%- include ("./header.ejs")%>
   </header>
   <div class="container content-section">
      <div class="row">
         <div class="col-lg-3">
            <%- include ("./intro.ejs")%>
         </div>
         <div class="col-lg-9">
            <div class="content">
               <h3 class="p-content" style="text-align: center">NEWS</h3>
               <br>
               <p class="p-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad dignissimos fugiat eum
                  illo minima.
                  Consectetur consequatur, laudantium ad in fugit molestiae quia adipisci tempore error ratione
                  facere, rerum ipsam cumque eveniet animi itaque laboriosam nulla blanditiis obcaecati atque aliquid
                  quas aperiam reiciendis! Voluptas vel quas, numquam sit sunt unde aut maxime fugiat molestias nam,
                  et pariatur, veniam consequuntur eaque delectus cumque amet natus eveniet vero corporis ut
                  asperiores? Facere ab illo vel facilis est excepturi libero quam. Maxime alias autem hic
                  praesentium magni soluta dignissimos. Architecto asperiores quod magnam distinctio veniam ipsam in
                  dignissimos deleniti ullam repellat, soluta, officia praesentium aperiam accusantium fuga cum
                  inventore dolor recusandae maxime nesciunt at enim libero delectus ipsum. Est odit, unde impedit
                  esse totam adipisci reprehenderit dicta magnam iste atque aliquam praesentium quidem repellendus
                  iure pariatur? Vel libero est officiis sunt deleniti expedita qui vero! Omnis placeat, labore
                  aliquam veniam voluptate asperiores cumque fugiat consectetur officiis impedit eveniet! Quasi
                  eaque, fuga, qui explicabo quae veniam laboriosam, eius recusandae repellat cum necessitatibus
                  molestias blanditiis delectus aut ratione aspernatur earum sint officia velit vero laborum. Maiores
                  vel sunt ipsum non cupiditate voluptas earum ea ducimus perferendis temporibus consectetur ut odio
                  itaque reprehenderit quasi dolor velit facilis suscipit, repellendus minus illo eius accusantium
                  nemo nam. Aspernatur tenetur aliquam facere iusto quidem corporis, praesentium in porro at impedit
                  dolorem ut itaque sequi? Incidunt ullam, fugiat recusandae enim sed similique earum, labore
                  inventore rerum iste cupiditate esse. Deserunt dolore, ad omnis explicabo repudiandae consequuntur
                  illum vel sed quaerat eaque veniam quae, error minima quibusdam veritatis quidem impedit sequi
                  porro blanditiis perspiciatis maxime ex. Harum, praesentium aperiam adipisci, repellendus ipsam
                  iste non, libero eius maxime voluptates tempore blanditiis sequi quaerat laudantium reprehenderit
                  rerum laboriosam quae voluptate. Sint ex dolore at porro perferendis aspernatur omnis voluptate,
                  quas a maiores distinctio vel maxime architecto deserunt fugit ad! Quidem qui excepturi aperiam
                  officia earum quisquam quaerat inventore similique quam facere consectetur temporibus architecto
                  fugit numquam, eius consequuntur amet laudantium culpa unde ipsum expedita! Nemo voluptate, nostrum
                  officia, dolores, repellendus veritatis facilis ea eligendi quae vitae quaerat in consequatur minus
                  temporibus aut illum? Ad officiis iure dignissimos beatae quasi facilis, reprehenderit atque quidem
                  amet aut molestias delectus aspernatur nemo minus blanditiis consectetur iste minima maiores odit,
                  impedit laudantium! Magnam nulla dolor esse. Illum, distinctio minima! Dolore quisquam saepe, omnis
                  provident alias ullam velit, eius voluptatum eaque, quam porro pariatur magnam incidunt mollitia
                  sunt modi consectetur unde minus nobis ipsa. Corporis suscipit velit ad, deleniti hic cum libero
                  perferendis assumenda! Ipsam eum mollitia sint fugiat provident nemo corrupti beatae ratione quidem
                  doloremque, fugit voluptatem aperiam soluta accusamus consectetur corporis dolore laboriosam
                  incidunt quam! Explicabo possimus dolore aperiam in labore consectetur qui natus excepturi.
                  Voluptates harum necessitatibus mollitia illum voluptate culpa asperiores dicta molestiae sed
                  laborum ratione beatae eum doloribus, ullam eligendi quam unde aperiam cumque, deleniti autem
                  placeat, suscipit magni rerum sequi! Esse, ea. Excepturi quisquam blanditiis facere, iusto vero
                  quaerat maxime, porro vel at, amet debitis nostrum? Assumenda dolor dolores incidunt harum, esse
                  quasi.</p>
            </div>
         </div>
      </div>
   </div>
   <br>
   <hr>
   <footer>
      <%- include ("./footer.ejs")%>
   </footer>
   <style>
      #news {
         background-color: teal;
      }

      @media screen and (max-width: 1000px) {
         .p-content {
            font-size: 250%;
         }
      }
   </style>
</body>

</html>