<!DOCTYPE html>
<html lang="vi">

<head>
   <%- include ("./head.ejs")%>
</head>

<body>
   <header class="container-fluid">
      <%- include ("./header.ejs")%>
   </header>
   <div class="container content-section">
      <div class="row">
         <div class="col-lg-3">
            <%- include ("./intro.ejs")%>
         </div>
         <div class="col-lg-9">
            <div class="content">
               <h3 class="p-content" style="text-align: center">POST</h3>
               <br>
               <p class="p-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni rerum pariatur officia
                  fugit non natus at iusto
                  similique, nesciunt maiores id sunt quisquam accusamus alias voluptatem mollitia quasi, dolor, nemo
                  vero perferendis
                  nobis. Porro velit vitae dolore provident autem sunt animi omnis illum voluptate consequuntur quo enim
                  modi sit,
                  quidem nulla doloremque dolorum itaque sequi ad expedita ea ipsa amet. Incidunt animi impedit eum
                  aspernatur! Nobis
                  reprehenderit ipsum corrupti minus ratione iusto error, accusamus iure blanditiis neque fugiat? Rem
                  doloribus omnis
                  dicta sequi iusto. Nobis perspiciatis, ut maxime repellat ipsa provident eveniet eos earum molestiae
                  illum velit
                  voluptates voluptatem et dolore veritatis! Odit maiores voluptatem et ea mollitia voluptatum nam eum
                  tempore deserunt
                  ad eaque debitis vitae saepe praesentium sed minima dicta porro, velit consequuntur inventore amet
                  exercitationem
                  temporibus dignissimos. Molestiae, ratione, veniam porro labore aliquam pariatur non, sint deleniti
                  placeat odio ea
                  iusto sapiente aliquid accusantium perspiciatis animi nulla ut numquam magnam. Cumque sequi unde in
                  veritatis
                  expedita reiciendis soluta? Sapiente cum inventore facere culpa facilis, explicabo illum voluptas
                  debitis quidem
                  recusandae molestiae voluptates! Cupiditate perferendis alias earum nihil sapiente, voluptatibus
                  assumenda, non dolor
                  architecto harum ea ullam sit, dolores nostrum illum debitis. Officiis voluptas accusantium
                  necessitatibus aliquid
                  porro omnis veniam dicta deleniti? Tempora labore odit harum ullam similique est voluptate eius ea
                  maiores quisquam
                  optio fugiat sit numquam quis, quaerat officiis alias molestias officia earum cupiditate aliquam modi
                  tempore, nihil
                  aut! Perspiciatis voluptatibus id repellendus iste soluta eum itaque officia fugiat quo minus aut
                  rerum quae sint
                  dolore atque corporis neque ducimus eius earum nemo dignissimos facilis, voluptates tempore natus. Rem
                  voluptas
                  assumenda veniam eaque molestiae nemo quaerat soluta aperiam magnam! Ratione, iste rem adipisci quidem
                  natus at magni
                  praesentium delectus numquam ducimus, consectetur, corrupti amet quisquam voluptas. Ipsum mollitia
                  blanditiis maxime
                  asperiores esse tenetur nemo, quod ex a deleniti ullam libero culpa facere sit maiores recusandae
                  placeat explicabo
                  provident, sunt non, ipsam quo optio iure. Porro, magni amet. Quas facilis dolorem mollitia iure,
                  laborum eligendi
                  magnam distinctio amet iusto excepturi eveniet rem soluta laudantium quam maiores, atque illum
                  placeat. Doloremque
                  corporis nostrum ut impedit quis, labore saepe architecto dolore omnis voluptatibus vero voluptate quo
                  dicta. Velit
                  officia ducimus dicta itaque explicabo, accusantium architecto illum nesciunt nisi perspiciatis
                  veritatis perferendis
                  quod eveniet error ab voluptate molestias adipisci iure sequi atque alias? Accusamus at quod nobis
                  animi ipsum,
                  quidem, sapiente deleniti vero tempore quae, quaerat accusantium nesciunt temporibus? Perferendis rem
                  recusandae unde
                  soluta reiciendis cumque qui nisi quasi, quia numquam cum possimus consequuntur aperiam sunt ducimus
                  perspiciatis sit
                  velit, veniam dolor optio! Est, perferendis! Cupiditate a dolorum corporis fuga illum totam fugiat
                  corrupti maiores
                  modi? Ab eius explicabo sequi debitis commodi nesciunt deleniti incidunt, nulla impedit id
                  voluptatibus adipisci
                  dolorem nihil dicta esse magnam, assumenda, similique quasi? Minus inventore quasi, totam vel
                  provident quisquam amet
                  dolor incidunt ex sapiente alias, cum accusamus eligendi earum quod expedita praesentium quam culpa
                  nobis voluptas
                  quae velit nostrum? Accusantium eum pariatur consequatur aliquam, magni totam velit dolores vero
                  dolorem, quasi porro
                  optio soluta.</p>
            </div>
         </div>
      </div>
   </div>
   <br>
   <hr>
   <footer>
      <%- include ("./footer.ejs")%>
   </footer>
   <style>
      #posts {
         background-color: teal;
      }

      @media screen and (max-width: 1000px) {
         .p-content {
            font-size: 250%;
         }
      }
   </style>
</body>

</html>